@import 'src/styles/typography';

.catalogue {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 48px;
    column-gap: 32px;
}


.catalogue-item {
    display: flex;
    flex-direction: column;
}

.catalogue-item-background {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
} 

.catalogue-item-text {
    @include item-text;
}   

.catalogue-item-description {
    @include item-description;
}  




